<% if user_signed_in? %>
	<div class="row announcement">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-1">
		<%= image_tag("open-book.svg", class:"svg-icon") %>
		</div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
			<h1>Grab a resource and get started!</h1>
		</div>
	</div>
	<div class="resource">
		<div class="row resource-header">
			<h3><%= fa_icon('book')  %> SFER Guides</h3>
			<p class="lead text-muted">These are your go-to documents for building your chapter.</p>
		</div>

	  <div class="row">
	  	<div class="col-lg-3 col-md-3 col-sm-6 mark-loves-to-hover no-touch">
	  		<%= link_to pdfs_path(filename: "chapter-guide.pdf") do %>
					<div class="fill-top">
		  			<%= image_tag("chapter-guide.jpg", class: "img-fill") %>
					</div>

		  		<div class="fill-bottom">
		  		<h3>Chapter Guide</h3>
		  		<p>Just getting started? Let's go!</p>
		  		</div>
					<% end %>
	  	</div>
	  	<div class="col-lg-3 col-md-3 col-sm-6 mark-loves-to-hover no-touch">
	  		<%= link_to pdfs_path(filename: "membership-expectations.pdf") do %>
				<div class="fill-top">
					<%= image_tag("member-expectations.jpg", class: "img-fill") %>
	  		</div>

	  		<div class="fill-bottom">
	  			<h3>Member Expectations</h3>
	  			<p>The roadmap for an effective chapter and coalition</p>
	  		</div>
				<% end %>
	  	</div>
	  	<div class="col-lg-3 col-md-3 col-sm-6 mark-loves-to-hover no-touch">
	  		<%= link_to pdfs_path(filename: "partnership-building.pdf") do %>
					<div class="fill-top">
						<%= image_tag("partnerships.jpg", class: "img-fill") %>
					</div>
					<div class="fill-bottom">
	  				<h3>Partnership Building</h3>
	  				<p>Tips for building a collaborative partnership on campus</p>
				</div>
				<% end %>
	  	</div>
	  	<div class="col-lg-3 col-md-3 col-sm-6 mark-loves-to-hover no-touch">
	  		<%= link_to pdfs_path(filename: "oped-training.pdf") do %>
					<div class="fill-top">
						<%= image_tag("media-training.jpg", class: "img-fill") %>
					</div>
					<div class="fill-bottom">
	  				<h3>Media Training</h3>
	  				<p>Learn the process for developing media and getting published</p>
					</div>
					<% end %>
	  	</div>
	  </div><!-- end row -->
	  <div class="row resource-header">
			<h3><%= fa_icon('book')  %> Presentations from our last Summit</h3>
			<p class="lead text-muted">Sorry if we missed you at Summit! We had some great trainings.</p>
		</div>

			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 mark-loves-to-hover no-touch">
					<%= link_to pdfs_path(filename: "organizing-and-mobilizing.pdf") do %>
						<div class="fill-top">
							<%= image_tag("organizing.jpg", class: "img-fill") %>
						</div>

						<div class="fill-bottom">
						<h3>Organizing &amp; Mobilizing</h3>
						<p>Understand the differences between the two and best practices for each</p>
						</div>
						<% end %>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 mark-loves-to-hover no-touch">
					<%= link_to pdfs_path(filename: "action-oriented-media.pdf") do %>
					<div class="fill-top">
						<%= image_tag("action-media.jpg", class: "img-fill") %>
					</div>

					<div class="fill-bottom">
						<h3>Action-Oriented Media</h3>
						<p>Read, plan and act to get your voice in the media</p>
					</div>
					<% end %>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 mark-loves-to-hover no-touch">
					<%= link_to pdfs_path(filename: "power.pdf") do %>
						<div class="fill-top">
							<%= image_tag("power.jpg", class: "img-fill") %>
						</div>
						<div class="fill-bottom">
							<h3>What is Power?</h3>
							<p>Learn how this important definition motivates our work</p>
					</div>
					<% end %>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 mark-loves-to-hover no-touch">
					<%= link_to pdfs_path(filename: "backwards-planning.pdf") do %>
						<div class="fill-top">
							<%= image_tag("planning.jpg", class: "img-fill") %>
						</div>
						<div class="fill-bottom">
							<h3>Backwards Planning</h3>
							<p>Getting ahead of yourself? Try a backwards plan!</p>
						</div>
						<% end %>
				</div>
			</div><!-- end row -->
			<div class="row resource-header">
				<h3><%= fa_icon('book')  %> Old School Toolkits</h3>
				<p class="lead text-muted">Check out these resources from back in the day.</p>
			</div>

				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6 mark-loves-to-hover no-touch">
						<%= link_to pdfs_path(filename: "college-101.pdf") do %>
							<div class="fill-top">
								<%= image_tag("college-101.jpg", class: "img-fill") %>
							</div>

							<div class="fill-bottom">
							<h3>College 101</h3>
							<p>Bring k-12 students to your campus and build relationships with local schools</p>
							</div>
							<% end %>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 mark-loves-to-hover no-touch">
						<%= link_to pdfs_path(filename: "recruitment-2011.pdf") do %>
						<div class="fill-top">
							<%= image_tag("canvass.jpg", class: "img-fill") %>
						</div>

						<div class="fill-bottom">
							<h3>Recruitment</h3>
							<p>Tips and tricks for building your membership</p>
						</div>
						<% end %>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 mark-loves-to-hover no-touch">
						<%= link_to pdfs_path(filename: "school-visits.pdf") do %>
							<div class="fill-top">
								<%= image_tag("school-visit.jpg", class: "img-fill") %>
							</div>
							<div class="fill-bottom">
								<h3>School Visits</h3>
								<p>How coordinate a visit to a local school with your chapter</p>
						</div>
						<% end %>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 mark-loves-to-hover no-touch">
						<%= link_to pdfs_path(filename: "ed-minor.pdf") do %>
							<div class="fill-top">
								<%= image_tag("ed-minor.jpg", class: "img-fill") %>
							</div>
							<div class="fill-bottom">
								<h3>Ed Minor</h3>
								<p>Here's how to create an Ed minor at your school</p>
							</div>
							<% end %>
					</div>
				</div><!-- end row -->

	  </div>
	</div>

<% else %>
	<div class="jumbotron">

	<h1>SFER Portal</h1>
	<p>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-success btn-lg" %>
		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	</p>
	</div>
	<div class="row center">
		<div class="col-lg-4 col-md-4">
			<%= fa_icon('book 2x', class: "blue-circle")  %>
			<h4>Sign in to get resources</h4>
			<p class="text-muted">We're putting the best SFER resources up on the portal to help you and your chapter.</p>
		</div>
		<div class="col-lg-4 col-md-4">
			<%= fa_icon('arrow-up 2x', class: "blue-circle")  %>
			<h4>Big plans for updates</h4>
			<p class="text-muted">We want to make a space for members to get high-quality training, share their work and more.</p>
		</div>
		<div class="col-lg-4 col-md-4">
			<%= fa_icon('location-arrow 2x', class: "blue-circle")  %>
			<h4>Handmade in Minnesota</h4>
			<p class="text-muted">Well, it is sort of handmade. It involved a lot of typing.</p>
		</div>
	</div>
	<% end %>
