<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <h4>Add a New Chapter</h4>
    <%= link_to 'New Chapter', new_chapter_path, class: "btn btn-md btn-success" %>

  </div>
  <div class="col-lg-4">
    <h4>Add Multiple Chapters</h4>
    <%= form_tag import_chapters_path, multipart: true, class:"form-group" do %>

    <%= file_field_tag :file %><%= submit_tag "UPLOAD", class: "btn btn-md btn-primary" %>
    <% end %>
  </div>
</div>

<div class="panel panel-default">
<div class="panel-heading">All Chapters</div>
<table class="table">
  <thead>
    <tr>
      <th>Count</th>
      <th>Name</th>
      <th>State Program</th>
      <th>Salesforce Id</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'chapters/chapter', collection: @chapters %>
  </tbody>
</table>

<br>
</div>
